<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<meta name="viewport" content="width=device-width">
<link href='https://200wordrpg.github.io/feed.xml' rel='alternate' type='application/atom+xml'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="shortcut icon" type="image/x-icon" href="{{ " /favicon.ico " | prepend: site.baseurl }}">

<meta property="og:image" content="{{site.baseurl}}/assets/images/logo.gif" />
<meta property="og:image:type" content="image/gif">

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

