<header>
	<!--<h1>{{ site.title | default: site.github.repository_name }}</h1>-->
	<a itemscope itemtype="http://schema.org/image" href="{{site.baseurl}}/">
		<img itemprop="image" src="{{site.baseurl}}/assets/images/logo.gif" />
	</a>

	<h3>
		<a href="{{site.baseurl}}/">Home</a> • 
		<a href="{{site.baseurl}}/search">Search</a>
		<br>
		<a href="{{site.baseurl}}/judges">Judges</a> •
		<a href="{{site.baseurl}}/readers">Readers</a> •
		<a href="{{site.baseurl}}/prizes">Prizes</a>
		<br>
		<a href="{{site.baseurl}}/winners">Winners & Finalists</a>
		<br>
		<a href="{{site.baseurl}}/2015entries">2015</a> •
		<a href="{{site.baseurl}}/2016entries">16</a> •
		<a href="{{site.baseurl}}/2017entries">17</a> •
		<a href="{{site.baseurl}}/2018entries">18</a> •
		<a href="{{site.baseurl}}/2019entries">2019</a>
		<br>
		<a href="{{site.baseurl}}/downloads">Downloads & Prints</a>
		<br>
	</h3>

	<a class="twitter-timeline" data-show-replies="false" data-tweet-limit="1" data-chrome="noheader nofooter noscrollbar" data-dnt="true"
	  href="https://twitter.com/200WordRPG">Entry of the Day</a>

	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</header>
