<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="preload">
    <div class="top"></div>
    <div class="profile" style="background-image: url({{ site.background }});">
        <img src="{{ logo }}" class="img-circle" />
        <h3>{{ site.name }}</h3>
        <p>{{ site.description }}</p>
        
    </div>
    <div class="posts">
        {{ content }}
    </div>
</body>
<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }
</script>
</html>
