<!doctype html>
	<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
	  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	
    <title itemprop="name">{{ site.title }}</title>
	
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
	
	<link href='https://200wordrpg.github.io/feed.xml' rel='alternate' type='application/atom+xml'>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<meta property="og:image" content="{{site.baseurl}}/assets/images/logo.gif" />
	<meta property="og:image:type" content="image/gif">
    <meta property="og:title" content="200 Word RPG Challenge" />
	<meta property="og:description" content="What can you do with 200 words?" />
	
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<script type="text/javascript">

    function generateRandomWinners()
    {
        $.getJSON("/winners.json", function(data) {
            console.log("[winners.json loaded for random winners]");

            var postsCount = data.length;
            var posts = data;

            var randomIndexUsed = [];
            var counter = 0;
			
            var divRandomWinners = $("#random_winners");

            while (counter < postsCount)
            {
                var randomIndex = Math.floor(Math.random() * postsCount);

                if (randomIndexUsed.indexOf(randomIndex) == "-1")
                {
                    var postHREF = posts[randomIndex].href;
                    var postTitle = posts[randomIndex].title;

                    divRandomWinners.append('<a href="' + postHREF + '">' + postTitle + '</a>&emsp;•&emsp;');

                    randomIndexUsed.push(randomIndex);

                    counter++;
                }
            }
        });
    }
	
	    function generateRandomFinalists()
    {
        $.getJSON("/finalists.json", function(data) {
            console.log("[finalists.json loaded for random winners]");

            var postsCount = data.length;
            var posts = data;

            var randomIndexUsed = [];
            var counter = 0;
			
            var divRandomWinners = $("#random_finalists");

            while (counter < postsCount)
            {
                var randomIndex = Math.floor(Math.random() * postsCount);

                if (randomIndexUsed.indexOf(randomIndex) == "-1")
                {
                    var postHREF = posts[randomIndex].href;
                    var postTitle = posts[randomIndex].title;

                    divRandomWinners.append('<a href="' + postHREF + '">' + postTitle + '</a>&emsp;•&emsp;');

                    randomIndexUsed.push(randomIndex);

                    counter++;
                }
            }
        });
    }

    $(document).ready(function() {
        generateRandomWinners();
        generateRandomFinalists();
    });

</script>


	
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!--<h1>{{ site.title | default: site.github.repository_name }}</h1>-->
		<a itemscope itemtype="http://schema.org/image" href="{{site.baseurl}}/"><img itemprop="image" src="{{site.baseurl}}/assets/images/logo.gif" style="width:315px"/></a>
		
        <h3><a href="{{site.baseurl}}/2017submission">Submit Your Entry</a><br>
		<a href="{{site.baseurl}}/2017entries">2017</a><br> 
		<a href="{{site.baseurl}}/2016entries">2016</a><br> 
	    <a href="{{site.baseurl}}/2015entries">2015</a><br>
		<a href="{{site.baseurl}}/search">Search Entries</a><br>
		<a href="{{site.baseurl}}/winners">Winners </a> •<a href="{{site.baseurl}}/stories"> Stories</a><br>
	    <a href="{{site.baseurl}}/judges"> Judges </a> • <a href="{{site.baseurl}}/prizes"> Prizes</a><br>
	    <a href="{{site.baseurl}}/downloads">Downloads</a></h3>
 
      </header>
      <section>

      {{ content }}

      </section>
      <footer>

<p>Organized by <a href="http://schirduans.com/david/">David Schirduan</a> and <a href="http://www.finemessgames.com/">Marshall Miller</a>, huge thanks to <a href="https://twitter.com/fray">Matt Widmann</a>, <a href="https://plus.google.com/u/0/116235159947041206206/posts">Rickard Elimää</a>, all the <a href="{{site.baseurl}}/judges">Judges</a> and <a href="{{site.baseurl}}/prizes">Prize Donations</a></p> 
 <table>	
    <tr>
      <td><a href="{{site.baseurl}}/feed.xml"><img src="/assets/images/rss.png"/></a></td>
      <td><a href="{{site.baseurl}}/feed.xml">Subscribe for new posts and challenge updates</a></td>
    </tr>
</table>
	<div>
	All entries under <a rel="license" href="{{site.baseurl}}/licensing">CC-BY-4.0 License</a><br>Hosted on <a href="https://github.com/200WordRPG/200wordrpg.github.io">GitHub</a> • Theme by <a href="https://github.com/orderedlist">orderedlist</a>
	  </div>
	      
	      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49566007-3', 'auto');
  ga('send', 'pageview');

</script>
	  
      </footer>
    </div>
	
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
