<!doctype html>
	<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
	  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	
    <title>{{ page.title }} | default: site.github.repository_name }}</title>
	
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	
	<link href='https://200wordrpg.github.io/feed.xml' rel='alternate' type='application/atom+xml'>
	
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<meta property="og:image" content="{{site.baseurl}}/logo.gif" />
	<meta property="og:image:type" content="image/gif">
    <meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.author }}" />


	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<script type="text/javascript">

    function generateRandomPost()
    {
        $.getJSON("/allposts.json", function(data) {
            console.log("[allposts.json loaded for random winners]");

            var postsCount = data.length;
            var posts = data;
            var divRandomButton = $("#random_button");
            var randomIndex = Math.floor(Math.random() * postsCount);
          
			var postHREF = posts[randomIndex].href;
			var postTitle = posts[randomIndex].title;	
			divRandomButton.append('<form id="random_button" action="' + postHREF + '"><input type="submit" value="Random Entry" /></form>');
            
        });
    }
	
	    $(document).ready(function() {
        generateRandomPost();
    });

</script>
	
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!--<h1>{{ site.title | default: site.github.repository_name }}</h1>-->		
		<a itemscope itemtype="http://schema.org/image" href="{{site.baseurl}}/"><img itemprop="image" src="{{site.baseurl}}/logo.gif" style="width:315px"/></a>
		
        <h3><a href="{{site.baseurl}}/">Home</a><br>
	    <a href="{{site.baseurl}}/winners">Winners</a> • <a href="{{site.baseurl}}/stories">Stories</a><br>
	    <a href="{{site.baseurl}}/2017entries">2017 Entries</a><br>
	    <a href="{{site.baseurl}}/2016entries">2016 Entries</a><br>
	    <a href="{{site.baseurl}}/2015entries">2015 Entries</a><br>
	    <a href="{{site.baseurl}}/judges">Judges</a> • <a href="{{site.baseurl}}/prizes">Prizes</a><br>
	    <a href="{{site.baseurl}}/downloads">Downloads</a></h3>
       
<script>
  (function() {
    var cx = '005842344559578349529:6gnqehztio0';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
 
      </header>
      <section>
	  
	  <h1 itemprop="name">{{ page.title }} • {{ page.categories }}</h1>
	  <h3>{{ page.author }} • {{ page.link }}</h3>

      {{ content }}
	  
	  <hr>
	  <div id="random_button"></div>

      </section>
      <footer>

	  	  <p>Organized by <a href="http://schirduans.com/david/">David Schirduan</a> and <a href="http://www.finemessgames.com/">Marshall Miller</a>, special thanks to <a href="https://twitter.com/fray">Matt Widmann</a> and <a href="https://plus.google.com/u/0/116235159947041206206/posts">Rickard Elimää</a> and all of the <a href="{{site.baseurl}}/judges">Judges</a> and <a href="{{site.baseurl}}/prizes">Prize Donations</a>.</p>
	 
	<div>
	<a rel="license" href="{{site.baseurl}}/licensing"><img align="center" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>All entries under <a rel="license" href="{{site.baseurl}}/licensing">CC-BY-4.0 License</a>. <br>Hosted on <a href="https://github.com/200WordRPG/200wordrpg.github.io">GitHub</a> • Theme by <a href="https://github.com/orderedlist">orderedlist</a>
	  </div>
	  
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  </body>
</html>
