<!doctype html>
	<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
	  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	
    <title itemprop="name">{{ site.title }}</title>
	
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
	
	<link href='https://200wordrpg.github.io/feed.xml' rel='alternate' type='application/atom+xml'>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<meta property="og:image" content="{{site.baseurl}}/logo.gif" />
	<meta property="og:image:type" content="image/gif">
    <meta property="og:title" content="200 Word RPG Challenge" />
	<meta property="og:description" content="What can you do with 200 words?" />
	
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>





	
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!--<h1>{{ site.title | default: site.github.repository_name }}</h1>-->
		<a itemscope itemtype="http://schema.org/image" href="{{site.baseurl}}/"><img itemprop="image" src="{{site.baseurl}}/logo.gif" style="width:315px"/></a>
		
        <h3><a href="{{site.baseurl}}/search">Search</a><br>
	    <a href="{{site.baseurl}}/winners">Winners</a>&emsp;•&emsp;<a href="{{site.baseurl}}/stories">Stories</a><br>
	    <a href="{{site.baseurl}}/2015entries">2015</a>&emsp;•&emsp; 
		<a href="{{site.baseurl}}/2016entries">2016 </a>&emsp;•&emsp; 
	    <a href="{{site.baseurl}}/2017entries">2017 </a><br>
	    <a href="{{site.baseurl}}/judges">Judges</a>&emsp;•&emsp;<a href="{{site.baseurl}}/prizes">Prizes</a><br>
	    <a href="{{site.baseurl}}/downloads">Downloads</a></h3>
	

      </header>

      <section>
	  
	<div class="super-search" id="js-super-search">
	<input type="text" placeholder="Type here to search" class="super-search__input" id="js-super-search__input">
	<ul class="super-search__results" id="js-super-search__results"></ul>
    </div>

      {{ content }}

      </section>
      <footer>

	  	  <p>Organized by <a href="http://schirduans.com/david/">David Schirduan</a> and <a href="http://www.finemessgames.com/">Marshall Miller</a>, special thanks to <a href="https://twitter.com/fray">Matt Widmann</a> and <a href="https://plus.google.com/u/0/116235159947041206206/posts">Rickard Elimää</a> and all of the <a href="{{site.baseurl}}/judges">Judges</a> and <a href="{{site.baseurl}}/prizes">Prize Donations</a>.</p>
	 
	<div>
	<a rel="license" href="{{site.baseurl}}/licensing"><img align="center" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>All entries under <a rel="license" href="{{site.baseurl}}/licensing">CC-BY-4.0 License</a>. <br>Hosted on <a href="https://github.com/200WordRPG/200wordrpg.github.io">GitHub</a> • Theme by <a href="https://github.com/orderedlist">orderedlist</a>
	  </div>
	  
      </footer>
    </div>
	<script src="{{ '/assets/js/super-search.js' | relative_url }}"></script>
		<script>superSearch({
	searchFile: '/feed.xml',
	searchSelector: '#js-super-search', // CSS Selector for search container element.
	inputSelector: '#js-super-search__input', // CSS selector for <input>
	resultsSelector: '#js-super-search__results' // CSS selector for results container
});</script>


    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
